.video-container {
  height: 0;
  overflow: hidden;
  position: relative;
}

/* 16x9 Aspect Ratio */
.video-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.video-container-4x3 {
  padding-bottom: 75%;
}

.video-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
