@import '~@angular/material/theming';

.vertical-menu-item {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  max-width: 260px;
  overflow-wrap: break-word;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;
  text-align: left;
  width: 93%;
  word-wrap: break-word;
}

.eng-app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.eng-is-mobile .eng-toolbar {
  position: fixed;
  z-index: 2;
}

.eng-sidenav-container {
  flex: 1;
}

// .eng-is-mobile .eng-sidenav-container {
//   flex: 1 0 auto;
// }

mat-sidenav a {
  margin: 0 auto;
  padding: 0px 50px;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.eng-content {
  flex: 1 0 auto;
}

eng-footer {
  flex-shrink: 0;
}
