@import '~@angular/material/theming';

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

mat-toolbar {
  z-index: 2;
}

// .eng-header {
//   position: fixed;
// }

.drawer {
  position: fixed;
  overflow: hidden;
}

.drawer-card {
  height: 100vh;
}

.vertical-menu-item {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  max-width: 260px;
  overflow-wrap: break-word;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;
  text-align: left;
  width: 93%;
  word-wrap: break-word;
}

.eng-nav-link {
  // font-weight: 400;
  padding: 0 5px;
  text-decoration: none;
  color: white;
}
