<mat-drawer-container>

  <mat-drawer #drawer class='drawer' mode='over' (keydown.escape)='drawer.close()'>
    <!-- Drawer content -->
    <mat-card class='drawer-card'>
      <mat-card-title [routerLink]="['/']">Eric Garcia</mat-card-title>
      <mat-card-actions>
        <!-- TODO: Route buttons -->
        <button mat-button color='accent' class='vertical-menu-item' (click)='drawer.close()'>Portfolio</button>
        <button mat-button color='accent' class='vertical-menu-item' (click)='drawer.close()'>Blog</button>
        <button mat-button color='accent' class='vertical-menu-item' (click)='drawer.close()' [routerLink]="['/about']">About</button>
        <button mat-button color='accent' class='vertical-menu-item' (click)='drawer.close()'>Contact</button>
      </mat-card-actions>
    </mat-card>
  </mat-drawer>

  <mat-drawer-content>
    <!-- Main Content -->
    <mat-toolbar class='eng-header' color='primary'>
      <mat-toolbar-row>
        <button mat-button color='white' (click)='drawer.toggle()'><mat-icon>menu</mat-icon></button>
        <h1 [routerLink]="['/']">{{ title }}</h1>
        <span class="eng-spacer"></span>
        <nav>
          <a class="eng-nav-link" [routerLink]="['/']">Portfolio</a>
          <a class="eng-nav-link" [routerLink]="['/']">Blog</a>
          <a class="eng-nav-link" [routerLink]="['/about']">About</a>
          <a class="eng-nav-link" [routerLink]="['/']">Contact</a>
        </nav>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
