<div class="eng-app-container" [class.eng-is-mobile]="mobileQuery.matches">
  <!-- Toolbar -->
  <mat-toolbar class='eng-toolbar' color='primary'>
    <mat-toolbar-row>
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class='eng-app-name' [routerLink]="['/']">{{ title }}</h1>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="!mobileQuery.matches">
      <span class="eng-spacer"></span>
      <mat-nav-list>
        <a mat-button [routerLink]="['/portfolio']">Portfolio</a>
        <a mat-button [routerLink]="['/blog']">Blog</a>
        <a mat-button [routerLink]="['/about']">About</a>
        <a mat-button [routerLink]="['/contact']">Contact</a>
      </mat-nav-list>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="eng-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <!-- <h1 [routerLink]="['/']">Eric N. Garcia</h1> -->
        <a mat-button color='accent' class='vertical-menu-item' (click)='drawer.close()' [routerLink]="['/portfolio']">Portfolio</a>
        <a mat-button color='accent' class='vertical-menu-item' (click)='drawer.close()' [routerLink]="['/blog']">Blog</a>
        <a mat-button color='accent' class='vertical-menu-item' (click)='drawer.close()' [routerLink]="['/about']">About</a>
        <a mat-button color='accent' class='vertical-menu-item' (click)='drawer.close()' [routerLink]="['/contact']">Contact</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- Main Content -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
