.vertical-menu-item {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  max-width: 260px;
  overflow-wrap: break-word;
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: left;
  text-decoration: none;
  width: 93%;
  word-wrap: break-word;
}

.eng-app-container {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.eng-is-mobile .eng-toolbar {
  position: fixed;
  z-index: 2;
}

.eng-sidenav-container {
  flex: 1;
}

// .eng-is-mobile .eng-sidenav-container {
//   flex: 1 0 auto;
// }

mat-sidenav a {
  margin: 0 auto;
  padding: 0 50px;
}
