<mat-drawer-container>

  <mat-drawer #drawer class='drawer' mode='over' (keydown.escape)='drawer.close()'>
    <!-- Drawer content -->
    <mat-card class='drawer-card'>
      <mat-card-title>Eric Garcia</mat-card-title>
      <mat-card-actions>
        <!-- TODO: Route buttons -->
        <button mat-button color='accent' class='vertical-menu-item' (click)='navigateTo("portfolio")'>Portfolio</button>
        <button mat-button color='accent' class='vertical-menu-item' (click)='navigateTo("blog")'>Blog</button>
        <button mat-button color='accent' class='vertical-menu-item' (click)='navigateTo("about")'>About</button>
        <button mat-button color='accent' class='vertical-menu-item' (click)='navigateTo("contact")'>Contact</button>
      </mat-card-actions>
    </mat-card>
  </mat-drawer>

  <mat-drawer-content>
    <!-- Main Content -->
    <mat-toolbar class='eng-header' color='primary'>
      <button mat-button color='white' (click)='drawer.toggle()'><mat-icon>menu</mat-icon></button>
      <h1>{{ title }}</h1>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
