/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

.eng-wrapper {
  max-width: 1192px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
