/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Roboto');

.eng-wrapper {
  margin: auto;
  max-width: 1192px;
  padding-left: 15px;
  padding-right: 15px;
}

// Basic card grid spacing.
.eng-fxlayout {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.eng-card {
  background-size: cover;
  margin: 0 0.5rem 1rem;
}

.eng-spacer {
  flex: 1 1 auto;
}
