/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  font-family: 'ibm-plex-sans', 'Roboto', sans-serif;
}

.eng-wrapper {
  max-width: 1192px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

// Basic card grid spacing.
.eng-fxlayout {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.eng-card {
  margin: 0 0.5rem 1rem;
  background-size: cover;
}

.eng-spacer {
  flex: 1 1 auto;
}
