@use '~@angular/material' as mat;
// TODO: Simplify comments

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$eng-app-primary: mat.define-palette(mat.$red-palette);
$eng-app-accent: mat.define-palette(mat.$deep-purple-palette, A200, A100, A400);

// TODO: Define lighter and darker themes

// The warn palette is optional (defaults to red).
$eng-app-warn: mat.define-palette(mat.$amber-palette);

// Create the theme object (a Sass map containing all of the palettes).
$eng-app-theme: mat.define-light-theme(
  $eng-app-primary,
  $eng-app-accent,
  $eng-app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($eng-app-theme);
