$gutterSize: 15px;

img {
  max-width: 100%;
}

.eng-site-header {
  position: center, center;
  background-color: #f3f3f3;
  background: url("/assets/images/site-header.jpeg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}

.eng-slogan {
  font-size: 60px;
  padding-top: 160px;
  color: white;
  text-align: center;
  text-shadow: 0 0 3px #000000;
}

.eng-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
  color: white;
  text-align: center;
  text-shadow: 0 0 3px #000000;
}

.eng-expand_arrow {
  color: white;
}

.eng-fxlayout {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.eng-fx {

}

.eng-card {
  margin: 0 0.5rem 1rem;
}
