<div class='eng-site-header'>
  <div class='eng-slogan'>{{ title }}</div>
  <div class='eng-sub-slogan'>{{ slogan }}</div>
  <div class='eng-scroll-icon'></div>
</div>

<!-- Add this block per item in portfolio -->
<!-- TODO: Create ngFor items in portfolio -->

<div class='eng-wrapper'>

  <h2>Highlights</h2>
  <div class="eng-fxlayout" fxLayout='row' fxLayoutAlign="space-evently center" fxLayoutWrap>
    <div class='eng-fx' fxFlex.gt-md='25' fxFlex.gt-sm='33.333' fxFlex.gt-xs='50' fxFlex.xs='100' *ngFor="let highlight of highlights">

      <eng-detailed-card [card]=highlight></eng-detailed-card>

    </div>
  </div>
</div>
