$background-color: #f3f3f3;

.eng-site-header {
  background: url('/assets/images/site-header/site-header_w_1400.jpg') no-repeat center center fixed;
  background-color: $background-color;
  background-size: cover;
  height: 100%;
}

.eng-slogan {
  color: $background-color;
  font-size: 60px;
  padding-top: 160px;
  text-align: center;
  text-shadow: 0 0 3px #000;
}

.eng-sub-slogan {
  color: $background-color;
  font-size: 21px;
  padding-top: 24px;
  text-align: center;
  text-shadow: 0 0 3px #000;
}

.eng-scroll-icon,
.eng-scroll-icon::before {
  left: 50%;
  position: absolute;
}

.eng-scroll-icon {
  border-radius: 25px;
  bottom: 10px;
  box-shadow: inset 0 0 0 1px #fff;
  height: 70px;
  margin-left: -20px;
  margin-top: -35px;
  width: 40px;
}

.eng-scroll-icon::before {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  background: #fff;
  border-radius: 4px;
  content: '';
  height: 8px;
  margin-left: -4px;
  top: 8px;
  width: 8px;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
